body {
    background-color: #D4EBDC; 
    padding: 0.1%;
}

h2 {
    font-style: bold;
    font-size: 28px;
    text-align: center;
}

h3 {
    font-style: bold;
    font-size: 24px;
    /* text-align: center; */
}

button {
    background: #89B5DE;
    border: 1px solid #2E4E6C;
    box-sizing: border-box;
    font-size: 18px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.header {
    background-color: #9BCAAB;
    border: 3px solid #81BC95;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.header h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 62px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.workBox, .laptopBox, .bankBox, .laptopInfoBox {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #81BC95;
    box-sizing: border-box;
    padding: 1%;
    margin: 1%;
}

.workBox, .laptopBox, .bankBox {
    /* width: 400px; */
    height: 400px;
    width: 30%;
    top: 240px;
}

.bankBox {
    left: 0px;
    text-align: center;
}

.bankBox #getLoan {
    position: absolute;
    bottom: 15%;
    left: 30%;
    width: 40%;
}

.workBox {
    left: 33.3%;
    text-align: center;
}

.workBox #bank {
    position: absolute;
    bottom: 15%;
    left: 20%;
    width: 30%;
}

.workBox #work {
    position: absolute;
    bottom: 15%;
    right: 20%;
    width: 30%;
}

.workBox #repayLoanButton {
    position: absolute;
    width: 40%;
    bottom: 25%;
    left: 30%;
    background-color:#81BC95;
}

.laptopBox {
    left: 66.6%;
}

.laptopInfoBox {
    width: 97%;
    height: 350px;
    left: 0px;
    top: 670px;
}

.laptopInfoBox img, #laptopName, #laptopDes, #laptopPrice {
    padding: 2%;
    position: absolute;
}

.laptopInfoBox img {
    max-width: 30%;
    max-height: 90%;
    left: 0px;
    top: 0px;
}

.laptopInfoBox #laptopName {
    left: 33.3%;
    top: 0px;
}

.laptopInfoBox #laptopDes {
    left: 33.3%;
    top: 25%;
    width: 35%;
}

.laptopInfoBox #laptopPrice {
    left: 70%;
    top: 20%;
}

.laptopInfoBox #buy {
    position: absolute;
    left: 70%;
    top: 40%;
    margin-top: 3%;
}


